.slick-slider{
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}

.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	}
.slick-track:before,
.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block; outline:none;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
	}
.slick-arrow.slick-hidden {display: none;}
.btnnone.slick-prev.slick-arrow{display: none;}

/*====================COMMON END===================*/

/* Arrows */
.slick-prev, .slick-next{
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    margin-top: -18px;
	outline:none;
	border:none;
	z-index:2;
	cursor:pointer;
	width:20px;
	height:36px;
	}
.slick-prev {
	left:0;
	background: url(../images/arw-lft.png) no-repeat top center;
	background-size:100%;
	}
.slick-next {
	right:0;
	background: url(../images/arw-rgt.png) no-repeat top center;
	background-size:100%;
	}

/*//NAV SLIDER*/
.slide-div {
	float: left;
	width: 100%;
	margin-top:15px;
	}
.prd-slide{
	max-width:100%;
	margin:0 auto;
	}
.slider-nav{
	display:inline-block;
	width: 76%;
	margin:40px auto 0;
	text-align:center;
	padding:0 5%;
	}
.slider-nav .slick-list{
	padding:0 !important;
	}
.slider-nav .slick-slide{
	width:80px !important;
	height:65px;
	margin:0 8px;
	display:inline-block;
	float:none;
	border:1px solid #d2d2d2;
	cursor: pointer;
	outline:none;
	position:relative;
	padding:10px;
	}
.slider-nav img{
	display:block;
	max-width:100%;
	max-height:100%;
	margin:0 auto;
	position:relative;
	}
.slider-nav .slick-slide:after{
	content:'';
	position:absolute;
	width:100%;
	left:0;
	top:0;
	height:100%;
	}
.slider-nav .slick-slide.slick-current:after{
	display:none;
	}
.chk-tsti .slick-prev, .chk-tsti .slick-next{top:20%; width:24px; height:19px;}	
.chk-tsti .slick-prev{background: url(../images/chk-lft-arw.png) no-repeat top center; left:20%;}
.chk-tsti .slick-next{background: url(../images/chk-rgt-arw.png) no-repeat top center; right:20%;}
@media only screen and (max-width:1180px) {
	.slider-nav .slick-slide{width:64px!important; height:55px; margin:0 5px;}
}
@media only screen and (max-width:1023px) {
.slider-nav .slick-slide{width:56px!important; height:45px; margin:0 4px;}
}

@media only screen and (max-width:767px) {
.slider-nav{margin:20px 0 0 0;}
.slider-nav .slick-slide{width:64px!important; height:55px; margin:0 5px;}

}
